body {
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  display: flex;
  justify-content: center;
}

.appContainer {
  width: 100%;
  max-width: 1050px;
  padding: 24px;
}
